body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.swim-lanes {
    min-height: 60vh;
}

.task-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.task-card:hover {
    cursor: grab;
}

.warn {
    background-color: yellow;
}

.late {
    background-color: red;
}